Source: pkg-user-shuser
Section: misc
Priority: extra
Maintainer: Pantelis Koukousoulas <pktoss@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://github.com/pkt/pkt-user-packages
#Vcs-Git: http://github.com/pkt/pkt-user-packages

Package: pkg-user-shuser
Architecture: all
Depends: ${misc:Depends}
Description: User config package
 A package that manages the lifecycle of a user account.
 The convention is that pkg-user-"foo" manages user account "foo".
